
@media screen and (max-width: 1680px) {
    #grid-card-panel{
        margin-left: 2.8rem;
    }
    
}
@media screen and (max-width: 1600px) {
    #grid-card-panel{
        margin-left: 3.7rem ;
    }
    
}
@media screen and (max-width: 1440px) {
    #grid-card-panel{
        margin-left: 5.12rem;
    }
    
}
@media screen and (max-width: 1400px) {
    #grid-card-panel{
        margin-left: 5.7rem;
    }
    
}
@media screen and (max-width: 1366px) {
    #grid-card-panel{
        margin-left: 7.56rem;
    }
    
}