#autocomplete-box .MuiOutlinedInput-root{
   padding-right: 70px;
   padding-top: 0px;
   padding-bottom: 0px;
//    padding: 0px 70px 0px 0px;
}
#textfield-box {
    legend{
        height: auto;
    }
}
#grid-panel .css-19kzrtu {
    padding: 5px;
}



