// body {
//     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
//     font-weight: 300;
//  }

#autocomplete-box {
    .MuiOutlinedInput-root{
        padding-top: 0px;
        padding-bottom: 0px;
     }

}

#textfield-box {
    legend{
        height: auto;
    }
}
#grid-panel {
    .MuiTabs-flexContainer button{
        text-transform: capitalize !important;
    }
    .css-19kzrtu {
        padding: 7px;
    }
}
#grid-card-panel{
    .css-19kzrtu {
        padding: 5px;
    }
    .MuiTypography-body1{
        display: flex;
    }
    
}
#head-tab {
    min-height: auto;
    button{
        background: #45494D;
        color: #fff;
        min-height: auto;
        border-radius: 5px;
        margin-right: 10px;
        line-height: 0.25;
    }
}

#data-table {
    th{
        padding: 2px 5px;
        width: 70px;
        font-size: 10px;
    }
    td{
        padding: 2px 5px;
        font-size: 10px;
    }
    
}
#tabpanel {
    span{
        font-size: 12px;
    }
    .MuiListItemSecondaryAction-root{
        font-size: 12px;
    }
    li{
        padding-bottom: 0px;
        padding-top:0px;
       
    }
    li:nth-child(2) .MuiListItemSecondaryAction-root{
        color:#C92C2C;
    }
    li:nth-child(3) .MuiListItemSecondaryAction-root{
        color:#3C8519;
    }


}
#historical-grid{
    #cards{
        width:auto;
        max-width: none;
        margin: 0;
    }
}
#app-box li>div{
    padding:5px 9px;
}
#panel1a-header{
    padding: 0;
    background: #45494D;
    padding: 5px 9px;
    min-height: unset;
}
#panel1a-header>div{
    margin: 0;
}
#panel1a-content>div{
    padding:0;
}
#selection-box{
    flex-grow: 1;
    margin-top:10px;
    display: flex
}


